body {
  margin: 0;
  padding: 0;
  /* font-family: 'Inria Serif';
  font-weight: bold; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar-container {
  height: 85px;
  background-color: #232323;
}

.title {
  margin-left: 10px;
}

.nav>ul {
  display: flex;
}

li {
  flex-basis: 0;
  flex-grow: 1;
}


.title {
  color: white;
  font-size: 40px;
}

font-body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar-container {
  height: 85px;
  background-color: #232323;
}

.title {
  margin-left: 10px;
}

.nav>ul {
  display: flex;
}

li {
  flex-basis: 0;
  flex-grow: 1;
}


.title {
  color: white;
  font-size: 40px;
}

.title-search-container{
  display: flex;
  padding: 2%;
}

.sub-title {
  font-size: 30px;
}

.search-bar-container{
  margin-left:auto;
  font-size: 30px;
}

.filter-resumes-container{
  padding: 1%;
}

.filter-container{
  width:21%;
  outline-style: solid;
  outline-color: black;
  float: left;
  padding: 1%;
}


.large-label{
  font-size:25px;
}

.sub-label{
  font-size:20px;
}

.portfolio-container{
  float:right;
  width: 75%;
}

.portfolio-row{
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
}

.portfolio-item{
  width: 28%;
  border-style: solid;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
}

.portfolio-image{
  border-style: solid;
  width: 250px;
  height: 250px;

  
}


.portfolio-info{
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  word-break: break-all;
  padding-right: 15%;
}



.profile-image{
  width: 30px;
  height: 30px;
  padding: 5px;
}

.bookmark-image{
  padding-left: 7%;
  height: 30px;
}

.description{
  font-size: 15px;
}



.name{
  padding-top: 5%;
  padding-right: 43%;
}