body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar-container {
    height: 85px;
    background-color: #232323;
}

.title {
    margin-left: 10px;
}

.nav>ul {
    display: flex;
}

li {
    flex-basis: 0;
    flex-grow: 1;
}


.title {
    color: white;
    font-size: 40px;
}

font-body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar-container {
    height: 85px;
    background-color: #232323;
}

.title {
    margin-left: 10px;
}

.nav>ul {
    display: flex;
}

li {
    flex-basis: 0;
    flex-grow: 1;
}


.title {
    color: white;
    font-size: 40px;
}

.title-search-container{
    display: flex;
    padding: 2%;
}

.sub-title {
    font-size: 30px;
}

.search-bar-container{
    margin-left:auto;
    font-size: 30px;
}

.filter-container{
    outline-style: solid;
    outline-color: black;
    padding: 1%;
}

.filter-resumes-container{
    display: flex;
    padding: 2%;
}

.large-label{
    font-size:25px;
}

.sub-label{
    font-size:20px;
}

