body{
  margin: 0;
  padding: 0;
  /* font-family: 'Inria Serif';
  font-weight: Bold; */
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.nav-bar-container{
  height: 85px;
  background-color: #232323;
}


.title-search-container{
  display: flex;
  padding: 1%;
}

.search-bar-container{
  margin-left:auto;
  font-size: 30px;
}

font-body {
  margin: 0;
  padding: 0;
}

.title{
  margin-left: 10px;
}

.nav > ul{
  display: flex;
}

li{
  flex-basis: 0;
  flex-grow: 1;
}


.title{
  color:white;
  font-size: 40px;
}


.sub-title {
  font-size: 30px;
}

/* #filters {
  outline-style: solid;
  outline-color: black;
  padding: 1%;
  margin-left: 20px;
  margin-top: 1px;
  background-color: #fff;
  float: left;
  width: 19%;
} */

.filter-resumes-container{
  padding: 1%;
}

.filter-container{
  width:21%;
  outline-style: solid;
  outline-color: black;
  float: left;
  padding: 1%;
}


.large-label{
  font-size:25px;
}

.sub-label{
  font-size:20px;
}

/* label {
  display: block;
  margin-top: 2px;
} */

#portfolio-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px;
  padding: 20px;
}

article {
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

article img {
  width: 100%;
  height: auto;
}

article footer {
  padding: 10px;
}

article h3, article p {
  margin: 5px 0; 
}

#portfolio-items h3, p {
  text-align: left;
}
