/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .nav-bar-container {
    height: 85px;
    background-color: #232323;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd; /* You may choose to keep or remove this depending on your design */
  }
  
  .title {
    color: white;
    font-size: 40px; /* This is your nav title size, you can adjust if needed */
    margin-left: 10px;
    flex-grow: 1;
  }
  
  .nav > ul {
    display: flex;
  }
  
  li {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center; /* Center the nav items */
  }
  
  /* Styles for links within the navigation */
  .nav a {
    text-decoration: none;
    color: white;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  #search-container input[type="search"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
  }
  
  aside {
    width: 200px;
    float: left;
    padding: 20px;
  }
  
  aside h2 {
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  main {
    margin-left: 220px;
    padding: 20px;
  }
  
  #portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  article {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  article footer {
    margin-top: 10px;
  }
  
  article h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 768px) {
    aside,
    main {
      width: auto;
      margin: 0;
      float: none;
    }
  
    main {
      padding-top: 20px;
    }
  
    header {
      flex-direction: column;
    }
  
    #search-container input[type="search"] {
      width: auto;
      margin-top: 20px;
    }
  
    #portfolio-items {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }