body {
  margin: 0;
  padding: 0;
  /* font-family: 'Inria Serif';
  font-weight: bold; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar-container {
  height: 85px;
  background-color: #232323;
}

.title {
  margin-left: 10px;
}

.nav>ul {
  display: flex;
}

li {
  flex-basis: 0;
  flex-grow: 1;
}


.title {
  color: white;
  font-size: 40px;
}

font-body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar-container {
  height: 85px;
  background-color: #232323;
}

.title {
  margin-left: 10px;
}

.nav>ul {
  display: flex;
}

li {
  flex-basis: 0;
  flex-grow: 1;
}


.title {
  color: white;
  font-size: 40px;
}

.title-search-container{
  display: flex;
  padding: 2%;
}

.sub-title {
  font-size: 30px;
}

.search-bar-container{
  margin-left:auto;
  font-size: 30px;
}

.filters{
  padding: 1%;
}

.filter-container{
  width:21%;
  outline-style: solid;
  outline-color: black;
  float: left;
  padding: 1%;
}


.large-label{
  font-size:25px;
}

.sub-label{
  font-size:20px;
}

.CV{
  float: right;
  width: 75%;
}

.CV-row{
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
}

.CV-item{
  width: 28%;
  border-style: solid;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
}

.CV-preview {
  border-style: solid;
  width: 250px;
  height: 250px;
}

.CV-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.description-text {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* word-break: break-word;
  padding-right: 15%; */
}

.profile-image{
  width:30px;
  height:30px;
  padding-left: 7%;
}

.bookmark-image{
  padding-right: 7%;
  height: 30px;
}

/* .name{
  padding-top: 5%;
  padding-right: 43%;
}

.description{
  font-size: 15px;
}
 */
/* label {
  display: block;
  margin-top: 2px;
} */

/* #portfolio-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px;
  padding: 20px;
}

article {
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

article img {
  width: 100%;
  height: auto;
}

article footer {
  padding: 10px;
}

article h3, article p {
  margin: 5px 0; 
}

#portfolio-items h3, p {
  text-align: left;
} */
