<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="c.css">
  <title>Document</title>
</head>
<body>

  <div class="navbar">
    <div class="navbar-box">
      <div class="green">
        <div class="nav"><a href="#">Map of Actions</a></div>
        <div class="nav"><a href="#">What We Do</a></div>
        <div class="nav"><a href="#">Take Action</a></div>
        <div class="nav"><a href="#">Press</a></div>
      </div>
    </div>
  </div>
</body>
</html>