body{
  background-color: #232323;
}

.title{
  /* border:1px solid white; */
  width: auto;
  margin-top: 80px;
  height: 114px;
  display: flex;
  justify-content: center; align-items: center;
}

.title > span{
  color: white;
  font-size: 50px;
}

.create-container{
  /* border: 1px solid white; */
  height: 550px; 
  display: flex; justify-content: center; align-items: center;
}

.create-box{
  border: 1px solid white;
  height: 480px; width: 400px; border-radius: 10px;
  display: flex; justify-content: center; align-items: center;
}

label{
color: white;
font-size: 20px;
margin-right: 10px;
}

.input-box{
  margin-top: 10px;
}

#sumbit_button{
  margin-top: 30px;
  background-color: #232323;
  border: 1px solid white;
  color: white;
  height: 40px; width: 80px;
  border-radius: 10px;
}

#sumbit_button:hover{
  background-color: #444;
}