body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #232323; /* Dark grayish background */
    color: #FFFFFF; /* White text */
}

header {
    background-color: #232323; /* Same as body background */
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 36px;
}

.tagline {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 20px;
}

.example-images {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.image {
    width: 30%; /* Adjust as needed */
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
